#heading{
    background-color: rgb(255, 149, 176);
    font-weight: bold;
    <link rel="preconnect"href="https://fonts.googleapis.com"crossorigin><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">font-family: Calistoga;
}
#headinbody{
    background-color: rgb(142, 198, 207);
}
#title{
    background-color:rgb(255, 149, 176) ;
}
h1{
    color: rgb(36, 14, 138);
}
h2{
    color: rgb(36, 14, 138);
}1
h3{
    color: rgb(36, 14, 138);
    line-height: 0.01em;
}

h4{
    color: rgb(36, 14, 138);
    line-height: 0.1em;
}

li{
    color: rgb(36, 14, 138);
}

body{
    background-color: rgb(230, 230, 212);
}
.card{
    position:relative;
    width: 340px;
    text-align:center;
    margin: 80px auto 0;
    padding: 1.5em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1.5px 0 0 grey;
}
.logo{
    width:90px;
    height: 120px;
    top:-80px;
    left: 140px;
    border-radius:20px;
    box-shadow: 0 1.5px 1.5px 0 rgb(155, 155, 155);
    position: absolute;
}
